<!-- modal: confirm faq deletion -->
<div class="modal fade center-align" id="delete-question-{{ question.id }}-modal" tabindex="-1"
    aria-labelledby="delete-question-{{ question.id }}-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <h5 class="modal-title heading p-3">Are you sure you want to delete this question?</h5>
            <p>This action cannot be undone.</p>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-navy" data-bs-dismiss="modal">No, go back</button>
                <a href="{% url 'delete_question' question.id %}" class="btn btn-danger">Yes, delete permanently</a>
            </div>
        </div>
    </div>
</div>

<!-- modal: confirm faq update -->
<div class="modal fade center-align" id="edit-question-{{ question.id }}-modal" tabindex="-1"
    aria-labelledby="edit-question-{{ question.id }}-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <h5 class="modal-title heading p-3">Are you sure you want to make these changes?</h5>
            <p>This action cannot be undone.</p>
            <div class="modal-footer justify-content-center">
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-navy" data-bs-dismiss="modal">No, go back</button>
                <button type="button" class="btn btn-light-blue" data-bs-dismiss="modal">Yes, update question</button>
            </div>
        </div>
    </div>
</div>