{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- HERO IMAGE -->
    <div class="container-fluid hero-outer d-flex align-items-end justify-content-center">
        <div id="hero-logo">
            <img class="logo" src="{{ MEDIA_URL }}logo.webp" alt="Little riders academy logo">
        </div>
    </div>
    <!-- ABOUT SECTION (Who are we?) -->
    <section class="container-fluid page-section" id="about">
        <div class="row justify-content-center text-navy">
            <div class="col-sm-10 col-lg-8 text-center">
                <h2 class="heading">about us</h2>
                <hr class="block-divider">
                <p>
                    Little Riders Academy gets your children riding a bike confidently and safely through balance and
                    pedal training. We teach children from age 2 upwards, taking them on the whole journey from just
                    starting out on a balance bike through to more advanced pedal bike skills. Our lessons are fun and
                    exciting and we aim to kickstart a love for cycling that will last a lifetime.
                </p>
                <p>
                    All lessons take place at Cwmbran Leisure Centre and may be held indoors or outdoors depending on
                    the weather.
                </p>
                <a class="btn btn-navy btn-lg mt-3" href="{% url 'lessons' %}">Lessons We Offer</a>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS -->
    <section class="container-fluid page-section">
        <!-- Testimonials heading -->
        <div class="row justify-content-center ">
            <div class="col-sm-10 col-lg-8 text-center">
                <h2 class="heading">testimonials</h2>
                <hr class="block-divider mb-4">
            </div>
        </div>
        <div class="row justify-content-around text-center">
            <!-- Carousel of reviews -->
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {% for testimonial in testimonials %}
                    <div class="carousel-item {% if testimonial.id == 1 %}active{% endif %}">
                        <div class="card text-center">
                            <div class="card-header star-container" data-stars="{{testimonial.rating}}">
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ testimonial.review }}</p>
                            </div>
                            <div class="card-footer text-body-secondary">
                                Left by {{ testimonial.display_name }} on
                                {{ testimonial.testimonial_date | date:"j F y" }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to generate stars based on the rating
        const starContainers = document.getElementsByClassName("star-container");
        for (let i = 0; i < starContainers.length; i++) {
            let starDiv = starContainers[i];
            stars = starDiv.getAttribute('data-stars'); // testimonial rating out of 5
            for (let i = 1; i <= 5; i++) {
                const star = document.createElement("i");
                star.className = i <= stars ? "fa-solid fa-star" : "fa-regular fa-star";
                starDiv.appendChild(star);
            }
        };
    });
</script>

{% endblock %}