{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="container page-section">
        <div class="row">
            <div class="col text-center">
                <h2>My Profile</h2>
                <hr>
            </div>
        </div>
    </section>
    <section>
        <div class="row justify-content-around">
            <div class="col-10 col-md-6">
                <h4 class="heading text-center mb-4">Booking Information</h4>
                
            </div>
            <div class="col-10 col-md-4">
                <h4 class="heading text-center mb-4">Default Billing Information</h4>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <button class="btn btn-navy my-3" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>


{% endblock %}
