{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Thank You</h2>
                <hr>
                <p>Your booking information is below. A confirmation email will be sent to <strong>{{ booking.email }}</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
                <a class="btn btn-primary" href="{% url 'lessons' %}">Back to lessons</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
