{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="container page-section">
        <div class="row">
            <div class="col text-center text-navy">
                <h2>Thank You</h2>
                <hr>
                <p class="mt-3">Your booking information is below. A confirmation email will be sent to
                    <strong>{{ booking.email }}</strong></p>
            </div>
        </div>
        <!-- Booking summary -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="order-confirmation-wrapper p2">
                    <div class="row my-3">
                        <div class="col-12 col-md-6">
                            <p class="mb-0"><strong>Booking Number</strong></p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <p class="mb-0">{{ booking.booking_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Details of all lessons booked -->
                        <div class="col">
                            <small class="text-muted">Booking Details:</small>
                        </div>
                    </div>
                    {% for item in booking.bookingitems.all %}
                    <div class="row my-3">
                        <div class="col-12 col-md-5 ">
                                <span class="text-uppercase fw-bolder">{{ item.lesson.name }}</span> on {{ item.date | date:"j F Y"}}
                        </div>
                        <div class="col-6 col-md-5">
                            <p class="small mb-0">(For {{ item.quantity }}{% if item.quantity == 1 %} child{% else %} children{% endif %} @ £{{ item.lesson.price }} each)</p>
                        </div>
                        <div class="col-3 col-md-2">
                            <p>£{{ item.lesson.price | calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                    <!-- Booking total -->
                    <div class="row my-3">
                        <div class="col-12 col-md-6 fw-bolder">
                            Booking Total
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="mb-0">£{{ booking.booking_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Links to return to profile page or lessons page -->
            <div class="col-12 text-center">
                {% if from_profile %}
                <a class="btn btn-navy mt-3" href="{% url 'profile' %}">Back to profile</a>
                {% else %}
                <a class="btn btn-navy mt-3" href="{% url 'lessons' %}">Back to lessons</a>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock %}