{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<main>
    <section class="container page-section">
        <div class="row">
            <div class="col text-center">
                <h2>Basket</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Lesson</th>
                                <th scope="col">Date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in basket_items %}
                            <tr class="align-items-center">
                                <th scope="row" class="text-uppercase">{{ item.lesson.name }}</th>
                                <td>{{ item.date }}</td>
                                <td>£{{ item.lesson.price }}</td>
                                <td>
                                    <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.lesson_id %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <button class="btn btn-light-blue btn-sm decrement-qty" type="button"
                                                data-item_id="{{ item.lesson_id }}"
                                                id="decrement-qty_{{ item.lesson_id }}"><i
                                                    class="fa-solid fa-minus fa-sm"></i></button>
                                            <input type="number"
                                                class="form-control form-control-sm text-center qty-input"
                                                aria-label="Quantity" name="quantity" value="{{ item.quantity }}"
                                                min="1" max="{{ lesson.class_size }}"
                                                data-item_id="{{ item.lesson_id }}" id="id_qty_{{ item.lesson_id }}">
                                            <button class="btn btn-light-blue btn-sm increment-qty" type="button"
                                                data-item_id="{{ item.lesson.id }}"
                                                id="increment-qty_{{ item.lesson.id }}"><i
                                                    class="fa-solid fa-plus fa-sm"></i></button>
                                        </div>
                                        <input type="hidden" name="lesson_date" value="{{ item.date }}">
                                    </form>
                                    <div class="d-flex justify-content-evenly">
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-lesson text-danger" id="remove_{{ item.lesson_id }}"
                                            data-lesson_date="{{ item.date }}"><small>Remove</small></a>
                                    </div>
                                </td>
                                <td>{{ item.lesson.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <hr>
                        <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                        <hr>
                        <a href="{% url 'lessons' %}" class="btn btn-navy">
                            <i class="fa-solid fa-chevron-left"></i> Back to Lessons
                        </a>
                        <a href="{% url 'checkout' %}" class="btn btn-navy">
                            <i class="fa-solid fa-lock"></i> Secure Checkout
                        </a>
                    </div>
                </div>

                {% else %}
                <div class="text-center">
                    <p class="mt-3">Your basket is empty.</p>
                    <a href="{% url 'lessons' %}" class="btn btn-navy mt-3">
                        <i class="fa-solid fa-chevron-left"></i> Back to Lessons
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'lessons/includes/quantity_input_script.html' %}
{% for item in basket_items %}
{{ item.lesson.class_size | json_script:"id_lesson_class_size"}}
{% endfor %}
<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).parent().prev('.update-form');
        form.submit();
    })
    // Update quantity on click
    $('.remove-lesson').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var lessonId = $(this).attr('id').split('remove_')[1];
        var date = $(this).data('lesson_date');
        var url = `/basket/remove/${lessonId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'lesson_date': date
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}