:root {
    --navy: #192841;
    --yellow: #FFFD37;
    --sky-blue: #0ACDFF;
    --light-blue: #D6F7FF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--navy);
}
html,
body {
    height: 100%;
}

.page-section {
    padding: 50px 40px;
}

/* Custom text and background colour classes */
.text-navy {
    color: var(--navy);
}
.text-yellow {
    color: var(--yellow);
}
.text-sky-blue {
    color: var(--sky-blue);
}
.text-light-blue {
    color: var(--light-blue);
}
.bg-navy {
    background-color: var(--navy);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-sky-blue {
    background-color: var(--sky-blue);
}
.bg-light-blue {
    background-color: var(--light-blue);
}

/* Headings */

h2, .heading {
    font-family: 'Aboreto', sans-serif;
    text-transform: uppercase;
}


/* Buttons */
.btn {
    font-family: 'Aboreto', sans-serif;
    text-transform: uppercase;
}

.btn-navy {
    background-color: var(--navy);
    color: var(--light-blue);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-navy:hover {
    background-color: var(--navy);
    color: var(--yellow);
}

.btn-light-blue {
    background-color: var(--light-blue);
    color: var(--navy);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light-blue:hover {
    background-color: var(--navy);
    color: var(--light-blue);
}

.btn-yellow {
    background-color: var(--yellow);
    color: var(--navy);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-yellow:hover {
    background-color: var(--yellow);
    color: var(--light-blue);
}
/* Navbar */
.navbar {
    background: var(--navy);
}

.navbar-nav .nav-link {
    color: var(--yellow);
    font-family: 'Aboreto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 24px;
}

.navbar-toggler, navbar-toggler i {
        color: var(--yellow) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--yellow);
}

/* Mobile basket button */
.basket-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--yellow) !important;
    /* font-size: 50px; */
}

.fa-basket-shopping:before {
    color: var(--yellow);
}

.basket-link {
    cursor: pointer;
}

/* FOOTER */

body>footer {
    position: sticky;
    top: 100vh;
}

footer {
    background-color: var(--navy);
    height: 70px;
    text-align: center;
    padding-top: 10px;
}

footer i {
    padding: 13px 0;
    /* border-radius: 50%; */
    font-size: 28px;
    text-align: center;
    color: var(--yellow);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer a i:hover {
    color: var(--yellow);
    background-color: var(--sky-blue);
}

/* BOOTSTRAP TOASTS */

.toast-container {
    position: absolute;
    top: 120px;
    right: 10px;
    z-index: 99999999999;
}

.toast-header {
    border-bottom: 0px;
}

.toast-divider {
    height: 2px;
}

/* Limit height of basket contents div on success toast */
.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* FAQs */

/* Accordian header highlight */
.accordion-button:not(.collapsed) {
    background-color: var(--light-blue);
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: none;
}

/* MEDIA QUERIES */