{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<!-- Redirect after 10 seconds -->
<meta http-equiv="refresh" content="10; {% url 'lessons' %}">
{% endblock %}

{% block content %}
<section class="container page-section">
    <div class="row">
        <div class="col text-center">
            <h2>404 Error</h2>
            <hr>
        </div>
    </div>
</section>
<section class="container">
    <div class="row h-100">
        <div class="my-auto text-center">
            <h3 class="">
                The page you are looking for isn't available
            </h3>
            <div class="my-5">
                <!-- Redirect link -->
                <hr class="my-5">
                <p>You'll automatically be redirected to the  <a class="btn btn-navy btn-sm" href="{% url 'lessons' %}"
                        aria-label="link to homepage">lessons</a>  page in <span id="countdowntimer">10 </span> seconds.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Countdown timer - code from stackoverflow used and modified -->
<script>
    let timeleft = 10;
    let downloadTimer = setInterval(function () {
        timeleft--;
        document.getElementById("countdowntimer").textContent = timeleft;
        if (timeleft <= 0) {
            clearInterval(downloadTimer);
        }
    }, 1000);
</script>
{% endblock %}