    <!-- FOOTER -->
    <footer class="container-fluid">
        <div class="row">
            <!-- External facebook link to open in new tab -->
            <div class="col">
                <a href="https://www.facebook.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </div>
            <!-- External instagram link to open in new tab -->
            <div class="col">
                <a href="https://www.instagram.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </div>
            <!-- External youtube link to open in new tab -->
            <div class="col">
                <a href="https://www.youtube.com" target="_blank" rel="noopener">
                    <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">You tube</span>
                </a>
            </div>
            <!-- Contact link redirects to contact page -->
            <div class="col">
                <a href="{% url 'contact' %}">
                    <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                    <span class="sr-only">Contact us</span>
                </a>
            </div>
        </div>
    </footer>