
<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{{ MEDIA_URL }}lra-logo.webp" alt="Little Riders Academy logo"
                width="80"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lessons' %}">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_lesson' %}" class="dropdown-item">Add a lesson</a></li>
                        <li><a href="{% url 'add_question' %}" class="dropdown-item">Add a FAQ</a></li>
                        <li><a href="{% url 'view_queries' %}" class="dropdown-item">View Customer Queries</a></li>
                        {% endif %}
                        <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                        <li><a href="{% url 'leave_testimonial' %}" class="dropdown-item">Leave a Testimonial</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_basket' %}">
                        <div class="text-center">
                            <div>
                                <i class="fa-solid fa-basket-shopping fa-lg"></i>
                            </div>
                            <p class="">
                                {% if total %}
                                £{{ total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Mobile basket button link -->
<div class="btn btn-navy basket-button d-lg-none text-center d-flex justify-content-center align-items-center">
    <a href="{% url 'view_basket' %}" class="basket-link">
        <i class="fa-solid fa-basket-shopping fa-2x mx-auto my-auto"></i>
    </a>	
</div>