{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- {% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="container page-section">
    <div class="row">
        <div class="col text-center">
            <h2>{% trans "Set Password" %}</h2>
            <hr>
        </div>
    </div>
</section>
<section>
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 text-center">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</section>

{% endblock %}