{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- {% trans "Sign Up Closed" %}{% endblock %}

{% block inner_content %}
<section class="container page-section">
    <div class="row">
        <div class="col text-center">
            <h2>{% trans "Sign Up Closed" %}</h2>
            <hr>
        </div>
    </div>
</section>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 text-center">
            {% trans "We are sorry, but the sign up is currently closed." %}
        </div>
    </div>
</section>


{% endblock %}
