{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="container page-section">
        <div class="row">
            <div class="col text-center">
                <h2>Contact Us</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-8">
                <form method="POST" action="{% url 'contact' %}" class="form mt-3" >
                    {% csrf_token %}
                    {{ contact_form | crispy }}
                    <div class="text-center">
                        <button class="btn btn-navy mt-3" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

{% endblock %}