{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="container-fluid page-section">
        <div class="row">
            <div class="col text-center text-navy">
                <h2>Lessons We Offer</h2>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            {% for lesson in lessons %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mx-auto my-3 text-navy" style="width: 17rem;">
                    <img src="{{ lesson.image.url }}" class="card-img-top" alt="{{ lesson.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center pb-2 heading">{{ lesson.name }}</h5>
                        <p class="card-text">{{ lesson.day }}s at {{ lesson.time }}</p>
                        <p class="card-text">Recommended for ages {{ lesson.min_age }} to {{ lesson.max_age }}</p>
                        <a href="{% url 'lesson_details' lesson.id %}" class="btn btn-navy">Full details</a>
                        {% if request.user.is_superuser %}
                        <div class="text-center mt-3">
                            <a href="{% url 'edit_lesson' lesson.id %}"
                                class="btn btn-sm btn-yellow px-3 me-2">Edit</a>
                            <a href="#delete-lesson-{{ lesson.id }}-modal" class="btn btn-danger btn-sm"
                                data-bs-toggle="modal">Delete</a>
                            <!-- inject the modals partials-template -->
                            {% include "lessons/includes/lesson_modals.html" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 text-center">
                <a href="{% url 'add_lesson' %}" class="btn btn-navy mt-3">Add a New Lesson</a>
            </div>

        </div>
    </section>
</main>

{% endblock %}