{% extends "base.html" %}
{% load static %}

{% block content %}
<main>

    <div class="container page-section">
        <div class="row">
            <div class="col text-center">
                <h2>{{ lesson.name }}</h2>
                <hr>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
                    <div class="image-container my-5">
                        <img src="{{ lesson.image.url }}" class="card-img-top" alt="{{ lesson.name }}">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                    <p class="">{{ lesson.description|linebreaks }}</p>
                    <p class="">{{ lesson.day }}s at {{ lesson.time }}</p>
                    <p class="">£{{ lesson.price }} for a {{ lesson.duration }} minute session</p>
                    <p class="">Recommended for ages {{ lesson.min_age }} to {{ lesson.max_age }}, limited to
                        {{ lesson.class_size }} riders.</p>
                    <form class="form" action="{% url 'add_to_basket' lesson.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label for="date" class="form-label"><strong>Date:</strong></label>
                                <div class="input-group mb-3">
                                    <input type='date' class='form-control' name="date" id="id_date_{{ lesson.id }}">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="quantity" class="form-label me-2"><strong>Quantity:</strong></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text btn btn-light-blue"><i
                                            class="fa-solid fa-minus"></i></span>
                                    <input type="number" class="form-control text-center" aria-label="Quantity"
                                        name="quantity" value="1" min="1" max="{{ lesson.class_size }}"
                                        data-item_id="{{ lesson.id }}" id="id_qty_{{ lesson.id }}">
                                    <span class="input-group-text btn btn-light-blue"><i
                                            class="fa-solid fa-plus"></i></span>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <a href="{% url 'lessons' %}" class="btn btn-navy mt-3 px-3 me-3">Back</a>
                                <input type="submit" class="btn btn-navy mt-3" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    {% if request.user.is_superuser %}
                    <div class="text-center mt-3">
                        <a href="{% url 'edit_lesson' lesson.id %}" class="btn btn-sm btn-light-blue px-3 me-2">Edit</a>
                        <a href="{% url 'delete_lesson' lesson.id %}" class="btn btn-sm btn-danger ms-2">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker();
    });
</script>
{% endblock %}