{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="container page-section">
        <div class="row">
            <div class="col text-center">
                <h2>{{ lesson.name }}</h2>
                <hr>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
                    <div class="image-container my-5">
                        <img src="{{ lesson.image.url }}" class="card-img-top" alt="{{ lesson.name }}">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                    <p class="">{{ lesson.description|linebreaks }}</p>
                    <p class="">{{ lesson.day }}s at {{ lesson.time }}</p>
                    <p class="">£{{ lesson.price }} for a {{ lesson.duration }} minute session</p>
                    <p class="">Recommended for ages {{ lesson.min_age }} to {{ lesson.max_age }}, limited to
                        {{ lesson.class_size }} riders.</p>
                    <form class="form" action="{% url 'add_to_basket' lesson.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label for="id_date" class="form-label"><strong>Date:</strong></label>
                                <div class="input-group mb-3">
                                    <input type='text' class='form-control datepicker' name="date"
                                        id="id_date" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="id_qty_{{ lesson.id }}"
                                    class="form-label me-2"><strong>Quantity:</strong></label>
                                <div class="input-group mb-3">
                                    <button class="btn btn-light-blue decrement-qty" type="button"
                                        data-item_id="{{ lesson.id }}" id="decrement-qty_{{ lesson.id }}"><i
                                            class="fa-solid fa-minus"></i></button>
                                    <input type="number" class="form-control text-center qty-input"
                                        aria-label="Quantity" name="quantity" value="1" min="1"
                                        max="{{ lesson.class_size }}" data-item_id="{{ lesson.id }}"
                                        id="id_qty_{{ lesson.id }}">
                                    <button class="btn btn-light-blue increment-qty" type="button"
                                        data-item_id="{{ lesson.id }}" id="increment-qty_{{ lesson.id }}"><i
                                            class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <a href="{% url 'lessons' %}" class="btn btn-navy mt-3 px-3 me-3">Back</a>
                                <input type="submit" class="btn btn-navy mt-3" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    {% if request.user.is_superuser %}
                    <div class="text-center mt-3">
                        <a href="{% url 'edit_lesson' lesson.id %}" class="btn btn-sm btn-yellow px-3 me-2">Edit</a>
                        <a href="#delete-lesson-{{ lesson.id }}-modal" class="btn btn-danger btn-sm px-3"
                            data-bs-toggle="modal">Delete</a>
                        <!-- inject the modals partials-template -->
                        {% include "lessons/includes/lesson_modals.html" %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'lessons/includes/quantity_input_script.html' %}
{{ lesson.class_size | json_script:"id_lesson_class_size"}}
<script>
    // Disable past dates on datepicker
    let now = new Date();
    let minDate = now.toISOString().substring(0, 10);
    let startDate = document.getElementsByClassName("datepicker");
    startDate[0].setAttribute("min", minDate);
</script>

<script>
    function dayNameToNumber(dayName) {
        const dayMap = {
            "Sunday": 0,
            "Monday": 1,
            "Tuesday": 2,
            "Wednesday": 3,
            "Thursday": 4,
            "Friday": 5,
            "Saturday": 6
        };
        
        return dayMap[dayName];
    }
    const dayNumber = dayNameToNumber("{{ lesson.day|safe }}");

    let allowedDays = dayNumber.toString();
    
    function enableDays(date) {
        let day = date.getDay();
        // console.log(day)
        return [allowedDays.includes(day)];
    }

    $("#id_date").datepicker({
        minDate: 0,
        beforeShowDay: enableDays,
        // beforeShow: function(input, inst) {
        //     let rect = input.getBoundingClientRect();
        //     setTimeout(function() {
        //         // Adjust the position of the DatePicker widget
        //         inst.dpDiv.css({ 
        //             top: rect.top - inst.dpDiv.height() - 10, // 10px for margin
        //             left: rect.left
        //         });
        //     }, 0);
        // }
    });
</script>
{% endblock %}