<!-- Success toast -->
<div class="toast rounded-0 border-top-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header justify-content-between">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="w-100 toast-divider bg-success"></div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        <!-- Show basket contents in toast (only if not on profile page) -->
        {% if total and not on_profile_page %}
        <h5 class="heading text-center">Your Basket ({{ lesson_count }})</h5>
        <div class="basket-notification-wrapper">
            {% for item in basket_items %}
            <div class="row mb-2">
                <div class="col-4 text-uppercase small">
                    {{ item.lesson }}
                </div>
                <div class="col-5 small">
                    Date: {{ item.date | date:"j F y" }} at {{ item.lesson.time }}
                </div>
                <div class="col-3 small">
                    Qty: {{ item.quantity }}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Link to checkout -->
        <div class="row">
            <div class="col text-center">
                <hr>
                <h5 class="heading">Total: £{{ total }}</h5>
                <a href="{% url 'view_basket' %}" class="btn btn-navy">
                    <i class="fa-solid fa-lock"></i> Secure Checkout
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>