<div class="toast rounded-0 border-top-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header justify-content-between">
        <strong class="mr-auto">Alert!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="w-100 toast-divider bg-info"></div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
    </div>
</div>
